version: 2

jobs:
  
    build:
    # docker-composeがインストール済みの仮想マシンをプル
    machine:
      image: circleci/classic:edge
    steps:
      - checkout
      - run:
          name: Dockerコンテナのビルド
          command: docker-compose build
      - run:
          name: Dockerコンテナの起動
          command: docker-compose up -d
      - run:
          name: db接続を待機
          command: sleep 10
      - run:
          name: データベースのセットアップ
          command: docker-compose exec prod bundle exec rake db:create
      - run:
          name: データベースのセットアップ
          command: docker-compose exec prod bundle exec rake db:migrate
      - run:
          name: Dockerコンテナの停止
          command: docker-compose down

workflows:
  version: 2
  #build_and_test:
  build_and_test_and_deploy:
    jobs:
      - build
      
  #deploy:
  #  jobs:
  #    - deploy:
  #        filters:
  #          branches:
  #            only: master
  #