version: 2
jobs:
  build:
    # docker-composeがインストール済みの仮想マシンをプル
    machine:
      image: circleci/classic:edge
    steps:
      - checkout
  #    - run:
  #        name: Dockerコンテナのビルド
  #        command: docker-compose build
  #    - run:
  #        name: Dockerコンテナの起動
  #        command: docker-compose up -d
  #    - run:
  #        name: db接続を待機
  #        command: sleep 30
  #    - run:
  #        name: データベースのセットアップ1
  #        command: docker-compose exec prod bundle exec rake db:create
  #    - run:
  #        name: データベースのセットアップ2
  #        command: docker-compose exec prod bundle exec rake db:migrate
  #    - run:
  #        name: テスト
  #        command: docker-compose exec prod bundle exec rake test 

  deploy:
    machine:
      image: circleci/classic:edge
    steps:
      - add_ssh_keys:
          fingerprints: 
            - 73:34:0f:70:79:3d:cc:ac:2c:91:89:8f:67:64:df:15
      - run: ssh ec2-user@52.68.119.117

workflows:
  version: 2
  build_and_test_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main
      























